@import './style.scss';

#title-text{
    color:$dark-gray;
    border-bottom: 3px solid $dark-gray;
   background-color: $deafult-white;
    font-family: $font-montserrat;
    }
    
    #api-section{
    @include flex-box(row);
    padding: 1rem 0 ;
    background-color:$deafult-white
    }
  
    #api-title{
        font-family: $font-montserrat;
    }
    .box{
        background-color: greenyellow;
        width: 200px;
        height: 200px;
    }
    
    #api-section div{
        text-align: center;
        
    }
    .api-box{
        display: flex;
            width: 50%;
        justify-content: center;
    }
    .api-box div{
        padding: 0 1rem;
    }
    .weather{
        width: 100%;
    }
    .weather-main{
        @include flex-box(row);
        width: 100%; 
        justify-content: center;
    }

     @media (max-width:800px){
        #api-section{
          @include flex-box(column);
        } 
        .api-box{
            width: 100%;
        }
    }
  