@import './style.scss';

.welcome-text{
    color:#ffffff;
    font-family: $font-montserrat;
    @media (max-width: 800px) {
      color:$deafult-black;
  }
   }
   article h3{
     color: $deafult-black;
   }
   .div-text{
    background-color: #333333;
    @media (max-width: 800px) {
      background-color:$light-gray;
  }
  }
   .section-content{
     background-color:$deafult-white;
     margin-top: -5px;
     border-bottom: 2px solid $dark-gray;
   }
   .section-link{
    @include flex-box(column);
     background-color:$deafult-white
   }
   .section-link h3{
     font-family: $font-montserrat;
   }
   .section-img{
    @include flex-box(row);
     align-items: center;
    padding-bottom: 2rem;
     
   }
   .section-img div{
    @include flex-box(column);
     justify-content: center;
     padding: 1rem;
     width: 50%;
     @media (max-width: 800px) {
      .section-img div{
        width: 100%;
        padding: 0 1rem;
      }
     }

   }
   .section-img div img{
     width: 100%;
   }
  
   .img-link{
    text-decoration: none;
    @include flex-box(column);
   align-items: center;
       border-radius: 1rem;
       overflow: hidden;

   }
   .img-link{
   &:hover{
     .link-title{
      background-color: $dark-gray;
     }
   }
   }
   
   .link-title{
    background-color:$deafult-black;
    color:$deafult-white;
    font-family: $font-montserrat;
   }
   