@import './style.scss';

$light-red:#a03e3e;
$hover-color:#005a63;
$boder-color:#012d2d;

.title-link{
    display: flex;
    align-items: center;
  padding:0 1rem;
  text-decoration: none;
  @media (max-width: 800px) {
    padding: 0;
    letter-spacing: -1px;
  }
  
  }
  a:hover{
    color: transparent;
    text-decoration: none;
  }
  .a-link{
    text-decoration: none;
    p{
      font-family:$font-montserrat;
    }
    &:hover{
      text-decoration: none;
    background-color:$hover-color;
    @include transistion-time(0.2s,linear);
  }
  }
  .a-link.active{
   background-color:#038063;
  
  }
  .div-center{
    @include flex-box(row);
  }
  nav{
    font-family: $font-montserrat;
  }
  
  .nav-items{
    @include flex-box(row);
  }
  
  li{
    list-style: none;
  }
  ul a{
      cursor: pointer;
      padding: 1rem;
    text-decoration: none;
  }
  li p{
    margin: 0;
  }
  
  .normal-nav{
    @include flex-box(row);
  }
  
  #light-theme-icon{
    @include transistion-time(0.2s,ease);
    transform: rotateY(0deg);
   -webkit-transform: rotateY(0deg); 
   -moz-transform: rotateY(0deg); 
  }
  #dark-theme-icon{
    @include transistion-time(0.2s,ease);
    transform: rotateY(180deg);
   -webkit-transform: rotateY(180deg); 
   -moz-transform: rotateY(180deg); 
  }
  
  @media only screen and (max-width: 800px) {

  
  .toggle-span{
  @include transistion-time(0.3s,ease);
  }

  .clicked .bar-toggle .toggle-span:nth-child(1){
   transform: translateY(9px) rotate(-45deg);
   -webkit-transform: translateY(9px) rotate(-45deg); 
   -moz-transform: translateY(9px) rotate(-45deg);  
  }
  .clicked .bar-toggle .toggle-span:nth-child(2){
   opacity: 0;
    transform: translateX(40px) ;
   -webkit-transform: translateX(40px) ; 
   -moz-transform: translateX(40px) ; 
  }
  .clicked .bar-toggle .toggle-span:nth-child(3){
   transform: translateY(-9px) rotate(45deg);
   -webkit-transform: translateY(-9px) rotate(45deg);
  -moz-transform: translateY(-9px) rotate(45deg);;
  }
    .clicked{
   @include transistion-time(0.2s,ease);
      background-color:$light-red;
    }
    .not-clicked{
      @include transistion-time(0.2s,ease);
    background-color: transparent;
    }
    nav{
      letter-spacing: 0;
    }
  
  
  .mobileUL{
    background-color:$hover-color;
      @include flex-box(column-reverse);
  }
  
   .a-link{
     font-size: 1.5rem;
     padding: 1.2rem 0;
     width: 100%;
    text-align: center;
   }
  
  .open{
    display: flex;
    height: 100%;
    opacity: 1;
  }
  
  .closed{
    height: 0;
    opacity: 0;
    margin:  -163px 0 0 0;
    display: none;
   height:0%;
  }
  
  .a-link{
    background-color:$hover-color;
    border-top: 2px solid $boder-color;
  }
  }