
@font-face{
  src: url('../fonts/Montserrat-Regular.ttf');
  font-family: Montserrat;
}
@font-face{
  src: url('../fonts/Ubuntu-Regular.ttf');
  font-family: Ubuntu;
}
$dark-theme: false !default;

:root {
  --white:#ffffff;
  --black:#000000;
  --dark-gray:#333333;
  --light-gray:#efecec;
  --button-color: #444444;
  --icon-theme:invert(0);
}

[theme='dark']{
  --black:#ffffff;
  --button-color: #dcdcdc;
  --white:#232323;
  --dark-gray:#efecec;
  --light-gray:#333333;
  --icon-theme:invert(1);
}
$deafult-white:var(--white);
$deafult-black:var(--black);
$light-gray:var(--light-gray);
$dark-gray:var(--dark-gray);
$button-color:var(--button-color);
$light-red:#a03e3e;
$hover-color:#005a63;
$boder-color:#012d2d;
$font-montserrat: Montserrat;
$font-ubuntu:Ubuntu;


body{
  margin: 0;
}
p{
  color: $deafult-black;
}
h3{
  color:$deafult-black;
}



@mixin flex-box($flex-dir) {
  display: flex;
  flex-direction: $flex-dir;
}
@mixin transistion-time($duration,$function){
  transition-duration: $duration;
  -webkit-transition-duration:  $duration;
  -moz-transition-duration:  $duration;
  transition-timing-function: $function;
  -moz-transition-timing-function: $function;
  -webkit-transition-timing-function: $function;
}

main{
  @include flex-box(column);
   justify-content: center;
   height: fit-content;
 }
 section{
   padding: 0;
   display: flex;
   overflow: hidden;
   width: 100%;
   @media (max-width: 800px) {
      width: 100%;
      padding:0;
  }
 }
p{
    font-family: $font-ubuntu;
}

// -- NAVBAR --------------------------------------------------


// -- HOME CONTENT ------------------------------------------

 

// -- ABOUT -- -----------------------------------------------



//-- APP-page -------------------------------------------------- 




// -- CONTACT --------------------------------------------------



 // -- FOOTER ------------------------------------------------

 