@font-face{
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
  font-family: Montserrat;
}
@font-face{
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
  font-family: Ubuntu;
}
$dark-theme: false !default;

:root {
  --white:#ffffff;
  --black:#000000;
  --dark-gray:#333333;
  --light-gray:#efecec;
  --button-color: #444444;
  --icon-theme:invert(0);
}

[theme='dark']{
  --black:#ffffff;
  --button-color: #bfbfbf;
  --white:#232323;
  --dark-gray:#efecec;
  --light-gray:#333333;
  --icon-theme:invert(1);
}
$deafult-white:var(--white);
$deafult-black:var(--black);
$light-gray:var(--light-gray);
$dark-gray:var(--dark-gray);
$bar-color: #2d3d5e;
$light-red:#a03e3e;
$hover-color:#005a63;
$boder-color:#012d2d;
$font-montserrat: Montserrat;
$font-ubuntu:Ubuntu;


body{
  margin: 0;
}
p{
  color: $deafult-black;
}
h3{
  color:$deafult-black;
}



@mixin flex-box($flex-dir) {
  display: flex;
  flex-direction: $flex-dir;
}
@mixin transistion-time($duration,$function){
  transition-duration: $duration;
  -webkit-transition-duration:  $duration;
  -moz-transition-duration:  $duration;
  transition-timing-function: $function;
  -moz-transition-timing-function: $function;
  -webkit-transition-timing-function: $function;
}

main{
  @include flex-box(column);
   justify-content: center;
   height: fit-content;
 }
 section{
   padding: 0;
   display: flex;
   overflow: hidden;
   width: 100%;
   @media (max-width: 800px) {
      width: 100%;
      padding:0;
  }
 }
p{
    font-family: $font-ubuntu;
}

// -- NAVBAR --------------------------------------------------

.title-link{
  display: flex;
  align-items: center;
padding:0 1rem;
text-decoration: none;
}

.a-link{
  text-decoration: none;
  p{
    font-family:$font-montserrat;
  }
  &:hover{
    text-decoration: none;
  background-color:$hover-color;
  @include transistion-time(0.2s,linear);
}
}
.a-link.active{
 background-color:#038063;

}
.div-center{
  @include flex-box(row);
}
nav{
  font-family: $font-montserrat;
}

.nav-items{
color:$deafult-white;
}
.nav-bar{
  z-index: 1;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
.nav-items{
  @include flex-box(row);
  color: white;
}

li{
  list-style: none;
}
ul a{
    cursor: pointer;
    padding: 1rem;
  text-decoration: none;
}
li p{
  margin: 0;
}

.normal-nav{
  @include flex-box(row);
  margin: 0;
  align-items: flex-start;
}

#light-theme-icon{
  @include transistion-time(0.2s,ease);
  transform: rotateY(0deg);
 -webkit-transform: rotateY(0deg); 
 -moz-transform: rotateY(0deg); 
}
#dark-theme-icon{
  @include transistion-time(0.2s,ease);
  transform: rotateY(180deg);
 -webkit-transform: rotateY(180deg); 
 -moz-transform: rotateY(180deg); 
}

@media only screen and (max-width: 800px) {
.title-link{
  padding: 0;
  letter-spacing: -1px;
}

.toggle-span{
@include transistion-time(0.3s,ease);
}
  .bar-toggle{
  margin: 0;
  padding: 0;
}

.clicked .bar-toggle .toggle-span:nth-child(1){
 transform: translateY(9px) rotate(-45deg);
 -webkit-transform: translateY(9px) rotate(-45deg); 
 -moz-transform: translateY(9px) rotate(-45deg);  
}
.clicked .bar-toggle .toggle-span:nth-child(2){
 opacity: 0;
  transform: translateX(40px) ;
 -webkit-transform: translateX(40px) ; 
 -moz-transform: translateX(40px) ; 
}
.clicked .bar-toggle .toggle-span:nth-child(3){
 transform: translateY(-9px) rotate(45deg);
 -webkit-transform: translateY(-9px) rotate(45deg);
-moz-transform: translateY(-9px) rotate(45deg);;
}
  .clicked{
 @include transistion-time(0.2s,ease);
    background-color:$light-red;
  }
  .not-clicked{
    @include transistion-time(0.2s,ease);
  background-color: transparent;
  }
  nav{
    letter-spacing: 0;
  }

.normal-nav{
  display: none;
}

.mobileUL{
  background-color:$hover-color;
    @include flex-box(column-reverse);
}

 .a-link{
   font-size: 1.5rem;
   padding: 1.2rem 0;
   width: 100%;
  text-align: center;
 }

.open{
  display: flex;
  height: 100%;
  opacity: 1;
}

.closed{
  height: 0;
  opacity: 0;
  margin:  -163px 0 0 0;
  display: none;
 height:0%;
}

.a-link{
  background-color:$hover-color;
  border-top: 2px solid $boder-color;
}
}

// -- HOME CONTENT ------------------------------------------

 .wel-text{
  color:#ffffff;
  @media (max-width: 800px) {
    color:$deafult-black;
}
 }
 .div-text{
  background-color: #333333;
  @media (max-width: 800px) {
    background-color:$light-gray;
}
}
 .section-content{
   background-color:$deafult-white;
   margin-top: -5px;
   border-bottom: 2px solid $dark-gray;
 }
 .color-div{
   background-color:$deafult-white
 }
 .color-div h3{
   font-family: $font-montserrat;
 }
 .section-img{
  @include flex-box(row);
   align-items: center;
  padding-bottom: 2rem;
   
 }
 .section-img div{
  @include flex-box(column);
   justify-content: center;
   padding: 1rem;
   width: 50%;
 }
 .section-img div img{
   width: 100%;
 }

 .img-link{
  text-decoration: none;
  @include flex-box(column);
 align-items: center;
     border-radius: 1rem;
     overflow: hidden;
     background-color:$dark-gray;
 }
 .img-link img{
  @include transistion-time(0.2s,linear);
 &:hover{
   opacity: 0.5;
 }
 }
 
 .link-title{
  background-color:$dark-gray;
  color:$deafult-white;
  font-family: $font-montserrat;
 }
 
 @media only screen and (max-width: 800px) {
 main{
  @include flex-box(column);
 }

 .section-img div{
   width: 100%;
   padding: 0 1rem;
 }
 
 }

// -- ABOUT -- -----------------------------------------------

.about-section{
  padding-top:4rem;
padding-bottom:2rem;
@include flex-box(row-reverse);
background-color:$deafult-white;
border-bottom: 2px solid $dark-gray;
}

.row-div{
   @include flex-box(row);
  justify-content: space-around;
}

.second-section{
  @include flex-box(column);
  background-color:$deafult-white
 
}
#center-text{
  padding: 25% 0;
}
.icons-row{
  height: 50px;
}
#skill-text{
      padding: 0 20%;
  text-align: center;
}
.icon-div{
  @include flex-box(column);
}
.icon-div img{
  height: 60px;
  width: 3rem;
}

.div-contact{
width: 50%;
text-align: center;
}


@media (max-width:800px){
   #title-page{
  text-transform: uppercase;
  margin: 0;
  color:$dark-gray;
  border-bottom: 3px solid$dark-gray;
  padding: 1rem 0;
  font-size: 2rem;
}
   #center-text{
       margin-top: -5px;
       padding: 0;
   }
   #center-text p{
       padding: 0 1rem;
   }
   .about-section{
      padding-top:0;
      @include flex-box(column);  
   }
   #skill-text{
      padding: 0 1rem;
   }

  .div-contact{
      width: 100%;
  }
  .row-div{
    @include flex-box(column);
  justify-content: center;
  align-items: center;
  }
  
}

//-- APP-page -------------------------------------------------- 


#title-text{
  color:$dark-gray;
  border-bottom: 3px solid $dark-gray;
 background-color: $deafult-white;
  font-family: $font-montserrat;
  }
  
  #api-section{
  @include flex-box(row);
  padding: 1rem 0 ;
  background-color:$deafult-white
  }

  #api-title{
      font-family: $font-montserrat;
  }
  .box{
      background-color: greenyellow;
      width: 200px;
      height: 200px;
  }
  
  #api-section div{
      text-align: center;
      
  }
  .api-box{
      display: flex;
          width: 50%;
      justify-content: center;
  }
  .api-box div{
      padding: 0 1rem;
  }
  
  
   @media (max-width:800px){
      #api-section{
        @include flex-box(column);
      } 
      .api-box{
          width: 100%;
      }
  }


// -- CONTACT --------------------------------------------------


%inputs{
  font-size: 1.1rem;
  padding: 0.5rem;
  outline: none;
  margin: 0;
  border-radius: 0;
  border: none;
  border: 2px solid$dark-gray;
}

.contact-section{
  background-color:$deafult-white;
@include flex-box(column);

}
input{
  @extend %inputs
}
textarea{
@extend %inputs;
margin-bottom: 1rem;
}

#contact-title{
  font-family: $font-montserrat;

  color: $deafult-black;


}

#contact-form{
  @include flex-box(column);
}
.header-input{
  color:$deafult-black;
  font-family: $font-montserrat;
}
button{
  font-family: $font-montserrat;
  color: $deafult-white;
  background-color: var(--button-color);
}

@media only screen and (max-width: 800px){

  #contact-title{
      background-color:$deafult-white;
      border-bottom: 3px solid $dark-gray;
      color:$dark-gray;
  }

}


 // -- FOOTER ------------------------------------------------

 footer{
  margin: 0;
  height: fit-content;
  background-color:$light-gray;
  color:$deafult-black;
  @include flex-box(row);
align-items: center;
  padding: 2rem;
  justify-content: space-around;

}
h2{
  color:$deafult-black
}


footer div{
  width: 50%;
 font-family: $font-montserrat;
  padding: 0 1rem;
}
footer div:first-child{
  text-align: center;
}

h1{
  text-transform: uppercase;
}

footer div p{
  font-family: $font-ubuntu;
}

footer div *{
  padding: 0 1rem;
  }
  .icons{
  filter: var(--icon-theme);
}

  .contact{
      align-items: center;
      @include flex-box(column);
      margin: 0;
      padding: 0;
      width: 100%;
     
  }
  .contact h3{
       font-family: $font-montserrat;
      text-transform: uppercase;
      font-size: 1.3rem;
      text-align: center;
  
  }
  .contact span{
       margin: 0;
      padding: 0;
      @include flex-box(row);
  }
  .contact span p{
      padding: 0;
      text-align: right;
      display: flex;
      align-items: center;
      margin: 0;
      
  }
  .contact span p a{
      cursor: pointer;
      text-decoration: none;
      color:$deafult-white;
  }
@media only screen and (max-width: 800px) {
  footer{
      padding: 4rem 0;
      @include flex-box(column);
  }

  footer div{
      padding: 0;
      text-align: center;
      width: 100%;
  }
  
}