@font-face {
  font-family: Nunito;
  src: url('./fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: Nunito-Bold;
  src: url('./fonts/Nunito-ExtraBold.ttf');
}

@font-face {
  src: url("./fonts/Roboto-Regular.ttf");
  font-family: Roboto-Regular;
}

@font-face {
  src: url("./fonts/Roboto-Light.ttf");
  font-family: Roboto-Light;
}


body {
  margin: 0;
  font-size: clamp(1.15rem, 0.6196rem + 1.7391vw, 1.5rem);
  background: #171921;
}
